@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);
@-moz-viewport {
  width: device-width;
  scale: 1;
}

@-ms-viewport {
  width: device-width;
  scale: 1;
}

@-webkit-viewport {
  width: device-width;
  scale: 1;
}

@viewport {
  width: device-width;
  scale: 1;
}

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: white;
}

.container {
  position: absolute;
  width: 100%;
  heigh: 100%;
  text-align: center;
  top: 15%;
  left: 0;
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
}

.container p {
  color: #000000;
  font-size: 1em;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  line-height: 1.5em;
}

.container .picture {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
}

.container a {
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  top: 5px;
}

.container a:after {
  content: '';
  position: absolute;
  background: #FFFFFF;
  height: 2px;
  width: 0%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  transition: 1s ease;
}

.container a:hover:after, .container a:focus:after, .container a:active:after {
  width: 100%;
}

h1 {
  position: relative;
  color: #dd3eb4;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  line-height: 1em;
}

.button_container {
  position: fixed;
  top: 2em;
  right: 2em;
  height: 30px;
  width: 38px;
  cursor: pointer;
  z-index: 150;
  transition: opacity 1s ease;
}

.button_container:hover {
  opacity: .7;
}

.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(405deg);
      -ms-transform: translateY(11px) translateX(0) rotate(405deg);
          transform: translateY(11px) translateX(0) rotate(405deg);
  transition: 1s ease;
  background: #FFFFFF;
}

.button_container.active .middle {
  opacity: 0;
  transition: .25s ease;
}

.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-405deg);
      -ms-transform: translateY(-11px) translateX(0) rotate(-405deg);
          transform: translateY(-11px) translateX(0) rotate(-405deg);
  transition: 1s ease;
  background: #FFFFFF;
}

.button_container span {
  background: black;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s ease;
  cursor: pointer;
}

.button_container span:nth-of-type(2) {
  top: 11px;
}

.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: absolute;
  background: #000000;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: .3;
  transition: opacity 1s, visibility 1s, height 1s;
  overflow: hidden;
}

.overlay.open {
  opacity: .8;
  height: 30%;
}

.overlay.open li {
  -webkit-animation: slide 1s ease forwards;
          animation: slide 1s ease forwards;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}

.overlay ul {
  margin: 5em auto;
  padding: 0;
}

.overlay li {
  height: 3em;
  text-align: center;
  position: relative;
}

.overlay a {
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
}

.overlay a:hover {
  border-bottom: 1px solid #FFFFFF;
  opacity: .5;
}
